/* Add CSS Styling */
.odd-nums{
    background-color: rgb(255, 113, 184);
}

.num-three{
    font-size: 24px;
}

#number-two{
    color: rgb(121, 235, 255);
    font-size: 36px;
}
#number-four{
    background-color: rgb(121, 255, 143);
    font-size: 24px;
    font-weight: bold;
}